/* aquí se agregan los colores de las paginas */
:root{
    --color-nav-footer: rgb(41, 41, 41);
    --color-hover-hypervinvulos:#00cdff;
    --color-texto-nav-footer:#f7f7f7;
    --color-blanco-fondo-body: #f7f7f7;
    --color-negro: #111111;
    --color-blanco:#f7f7f7;    
    --color-textos:#025f8a;
    --color-textos-sombras:#f7f7f7;
    --color-textos-bordes:#00cdff;
    --color-titulos:#00cdff;
    --color-titulos-sombras:#0671B6;
    --color-titulos-bordes:#00cdff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

body{
    background-color: var(--color-blanco-fondo-body);
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;    
}

/* .header-index{
    color: transparent;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-nav-footer);
    width: 100%;    
    justify-content: space-around;    
    align-items: center;       
}

.navbar a{
    text-decoration: none;
    color: var(--color-texto-nav-footer);
    padding: 10px;
    font-size: 20px;    
}

.navbar a:hover{
    cursor: pointer;
    transition: all;
    transition-duration: 0.7s;
    color:var(--color-hover-hypervinvulos);
}

.logonav{
    padding: 10px;
    width: 100px;
    height: 60px;
} */

.bordelogo{     
    background-color: var(--color-nav-footer);
    width: 800px;
    height: 600px;
    border-radius: 50px;
    margin: 0 auto;
    box-shadow: 5px 5px var(--color-hover-hypervinvulos);    
}

.bordelogo img{    
    width: 800px;
    height: 600px;    
}

.cuerpo{
    width: 100%;
    margin-bottom: 40px;    
}

footer{    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    bottom: 10%;
    width: 100%;
    height: 60px;
    margin: auto;
    background-color: var(--color-nav-footer);    
    color: var(--color-texto-nav-footer);
    /* text-transform: uppercase; */
    text-align: center;        
}

footer a i{
    color: var(--color-texto-nav-footer);    
}

footer a{
    text-decoration: none;
}

footer a i:hover{
    cursor: pointer;
    transition: all;
    transition-duration: 0.5s;
    color:var(--color-hover-hypervinvulos);
}

/* quienes somos? */
.header_quienes{
    border: 1px solid var(--color-titulos-bordes);
    width: 400px;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
}

.header_quienes h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--color-titulos);
    text-shadow: var(--color-titulos-sombras) 1px 1px;   

}

.seccion_quienes figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%; 
}

.seccion_quienes p{
    color: var(--color-textos);
    text-shadow: var(--color-textos-sombras) 1px 1px;
    font-size: 20px;
    width: 70%;
    text-align: justify;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.seccion_quienes img{
    width: 30%;   
    border-radius: 25px;

}

.seccion_quienes div{
    margin: 20px 0 21px 0;
}

.seccion_quienes article{       
    display: flex;
    justify-content: space-around;    
}

/* trabajos en cabello */
.header_cabello{
    border: 1px solid var(--color-titulos-bordes);
    width: 400px;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
}

.header_cabello h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--color-titulos);
    text-shadow: var(--color-titulos-sombras) 1px 1px;    
}

.seccion_cabello{
    text-align: center;    
}

.seccion_cabello h2{     
    color: var(--color-titulos);
    text-shadow: var(--color-titulos-sombras) 1px 1px;
    margin-top: 30px;
    margin-bottom: 30px;    
}

.seccion_cabello ul{
    border: 1px solid var(--color-textos-bordes);
    width: 250px;
    margin: auto;
    border-radius: 25px;
    list-style: none;
    
}

.seccion_cabello  ul li{
    font-size: 20px;
    color: var(--color-textos);
    text-shadow: var(--color-textos-sombras) 1px 1px; 
    
}

.catalogo{     
    color: var(--color-titulos);
    border: 1px solid var(--color-titulos-bordes);
    text-shadow: var(--color-titulos-sombras) 1px 1px;        
    font-size: 30px;        
    border-radius: 25px;    
    width: 175px;
    height: 35px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.videos_pelo{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;           
}

.videos_pelo p{     
    color: var(--color-titulos);
    border: 1px solid var(--color-titulos-bordes);
    text-shadow: var(--color-titulos-sombras) 1px 1px;    
    font-size: 20px;       
    border-radius: 25px;
    width: 150px;
    height: 25px;
    text-align: center;
    margin: auto; 
    margin-bottom: 10px;       
}

.videos_pelo video{
    box-shadow: var(--color-hover-hypervinvulos) 5px 5px;
    margin: 10px;
    border-radius: 25px;
    
    
}

.contenedor_img_pelo{ 
    width: 90%;   
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px auto;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
}

.contenedor_img_pelo img{
    
    box-shadow: var(--color-hover-hypervinvulos) 5px 5px;
    text-align: center;
    width: 280px;
    height: 320px;      
    margin: 5px;    
    border-radius: 25px;
    transition: 0.7s ease-in-out;   
}

.contenedor_img_pelo img:hover{
    cursor: pointer;
    box-shadow: none;
    border: 1px solid var(--color-hover-hypervinvulos);    
    transform: scale(1.2)

}

/* trabajos en unas */
.header_unas{
    border: 1px solid var(--color-titulos-bordes);
    width: 400px;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
}

.header_unas h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--color-titulos);
    text-shadow: var(--color-titulos-sombras) 1px 1px;    
}

.seccion_unas{
    text-align: center;
}

.seccion_unas h2{
    
    color: var(--color-titulos);
    text-shadow: var(--color-titulos-sombras) 1px 1px;
    margin-top: 30px;
    margin-bottom: 30px;    
}

.seccion_unas ul{
    border: 1px solid var(--color-textos-bordes);
    width: 250px;
    margin: auto;
    border-radius: 25px;
    list-style: none;
    
}

.seccion_unas  ul li{
    font-size: 20px;
    color: var(--color-textos);
    text-shadow: var(--color-textos-sombras) 1px 1px; 
    
}

.contenedor_img_unas{ 
    width: 90%;   
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
}

.contenedor_img_unas img{
    
    box-shadow: var(--color-hover-hypervinvulos) 5px 5px;
    text-align: center;
    width: 280px;
    height: 320px;      
    margin: 5px;    
    border-radius: 25px;
    transition: 0.7s ease-in-out;    
}

.contenedor_img_unas img:hover{
    cursor: pointer;
    box-shadow: none;
    border: 1px solid var(--color-hover-hypervinvulos);    
    transform: scale(1.2)

}

/* productos en venta */

.header_productos{
    border: 1px solid var(--color-titulos-bordes);
    width: 400px;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
}

.header_productos h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--color-titulos);
    text-shadow: var(--color-titulos-sombras) 1px 1px;    
}

.contenedor_img_productos{ 
    width: 90%;   
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
}

.contenedor_img_productos img{
    box-shadow: var(--color-hover-hypervinvulos) 5px 5px;
    text-align: center;
    width: 280px;
    height: 320px;      
    margin: 5px;    
    border-radius: 25px;
    transition: 0.7s ease-in-out;    
}

.contenedor_img_productos img:hover{
    cursor: pointer;
    box-shadow: none;
    border: 1px solid var(--color-hover-hypervinvulos);    
    transform: scale(1.2)

}

.contenedor_img_productos p{
    font-size: 17px;
    color: var(--color-textos);
    text-shadow: var(--color-textos-sombras) 1px 1px; 
}

/* contactenos */

.header_contactenos{
    border: 1px solid var(--color-titulos-bordes);
    width: 400px;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
}

.header_contactenos h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--color-titulos);
    text-shadow: var(--color-titulos-sombras) 1px 1px;    
}

.seccion_contactenos{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    

}

.seccion_contactenos img{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    width: 600px;    
    height:400px;
}

.seccion_contactenos h2{    
    color: var(--color-titulos);
    text-shadow: 1px 1px var(--color-titulos-sombras);
}

.seccion_contactenos p{
    color: var(--color-textos);
    text-shadow: 1px 1px var(--color-textos-sombras);
}

.seccion_contactenos a{
    color: var(--color-nav-footer);
    font-size: 30px;
    width: 40px;
    margin: auto;    
}

.seccion_contactenos a:hover{
    color: var(--color-hover-hypervinvulos);
    cursor: pointer;
}

.seccion_contactenos form{
    width: 30%;
    margin: auto;
    background-color: var(--color-nav-footer);
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.seccion_contactenos form input , textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
}

.seccion_contactenos form textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;    
}

#boton1{
    background-color: var(--color-hover-hypervinvulos);
    color: var(--color-blanco-fondo-body);
    padding: 10px;
}

#boton2{
    background-color: var(--color-hover-hypervinvulos);
    color: var(--color-blanco-fondo-body);
    padding: 10px;
}

#boton1:hover{
    cursor: pointer;
    color: var(--color-nav-footer);
}

#boton2:hover{
    cursor: pointer;
    color: var(--color-nav-footer);
}

/* modificar el reproductor de video */

video {
    background-color: var(--color-hover-hypervinvulos);
}

/*slider*/

#slider {
    width: 560px;
    height: 640px;
    position: relative;
    overflow: hidden;
}

#slider img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Responsive */

@media screen and (max-width: 600px) {
    .bordelogo {
    width: 100%;
    height: auto;
    border-radius: 0;
    }
    
    .bordelogo img {
    width: 100%;
    height: auto;
    }
    
    .navbar {
    flex-wrap: wrap;
    }
    
    .navbar a {
    font-size: 16px;
    padding: 5px;
    }
    
    .logonav {
    width: 70px;
    height: 40px;
    padding: 5px;
    }

    footer{
        height: 20%;
    }
    
    .header_quienes {
    width: 90%;
    border-radius: 0;
    }
    
    .seccion_quienes img {
    width: 90%;
    }
    
    .seccion_quienes p {
    font-size: 16px;
    }
    
    .header_cabello {
    width: 90%;
    border-radius: 0;
    }
    
    .seccion_cabello ul {
    width: 90%;    
    }
}


@media only screen and (max-width: 480px) {
        
    .bordelogo{
    width: 90%;
    height: auto;
    border-radius: 25px;   
    }
    
    .bordelogo img{
    width: 100%;
    height: auto;    
    }
    
    .navbar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    .navbar a{
    font-size: 16px;
    margin: 10px 0;
    }
    
    .logonav{
    width: 80px;
    height: 40px;
    }

    footer{
        height: 20%;
    }
    
    .cuerpo{
    width: 100%;
    margin-bottom: 60px;
    }
    
    .header_quienes{
    width: 90%;
    border-radius: 15px;
    }
    
    .header_quienes h1{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .seccion_quienes figure{
    flex-direction: column;
    align-items: center;
    width: 80%;
    }
    
    .seccion_quienes p{
    font-size: 16px;
    width: 80%;    
    margin-bottom: 20px;
    margin-top: 20px;
    }
    
    .seccion_quienes img{
    width: 80%;
    margin-bottom: 20px;
    align-items: center;
    }
        
    .header_cabello{
    width: 80%;
    border-radius: 15px;
    }
    
    .header_cabello h1{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .seccion_cabello h2{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .seccion_cabello ul{
    width: 80%;
    margin-bottom: 20px;
    }

    .seccion_contactenos form{
        width: 80%;
        margin-bottom: 20px;
    }

    .seccion_contactenos img{
        width: 80%;
        margin-bottom: 20px;
    }

    #slider img {        
        height: 100%;       
    }
    

}  

@media only screen and (-width: 480px) {
        
    .bordelogo{
    width: 90%;
    height: auto;
    border-radius: 25px;   
    }
    
    .bordelogo img{
    width: 100%;
    height: auto;    
    }
    
    .navbar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    .navbar a{
    font-size: 16px;
    margin: 10px 0;
    }
    
    .logonav{
    width: 80px;
    height: 40px;
    }

    footer{
        height: 20%;
    }
    
    .cuerpo{
    width: 100%;
    margin-bottom: 60px;
    }
    
    .header_quienes{
    width: 90%;
    border-radius: 15px;
    }
    
    .header_quienes h1{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .seccion_quienes figure{
    flex-direction: column;
    align-items: center;
    width: 80%;
    }
    
    .seccion_quienes p{
    font-size: 16px;
    width: 80%;    
    margin-bottom: 20px;
    margin-top: 20px;
    }
    
    .seccion_quienes img{
    width: 80%;
    margin-bottom: 20px;
    align-items: center;
    }
        
    .header_cabello{
    width: 80%;
    border-radius: 15px;
    }
    
    .header_cabello h1{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .seccion_cabello h2{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .seccion_cabello ul{
    width: 80%;
    margin-bottom: 20px;
    }

    .seccion_contactenos form{
        width: 80%;
        margin-bottom: 20px;
    }

    .seccion_contactenos img{
        width: 80%;
        margin-bottom: 20px;
    }

    #slider img {        
        height: 100%;       
    }
    

}  


/*/////////////////////////////////*/
/*navbar*/

.container{
    width: 100%;
    margin: 0 auto;
}

.back{
    padding: 32px 0;
    background-color: var(--color-nav-footer);
    margin-bottom: 30px;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.logo{
    width: 80px;
    height: 50px;
    margin-left: 10px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
    list-style: none;
}

.menu .navbar ul li a{
    font-size: 15px;
    padding: 20px;    
    display: block;
    text-decoration: none;
    color: var(--color-blanco);
    /* text-transform: uppercase; */
}

.menu .navbar ul li a:hover{
    cursor: pointer;
    transition: all;
    transition-duration: 0.5s;
    color:var(--color-hover-hypervinvulos);
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

@media (max-width:991px){

    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .back{
        padding: 47px 0;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--color-nav-footer);
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
        margin-top: -20px;        
    }

}

